@model DutchTreat.Models.ContactUsModel

@section Scripts{
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<form id="theForm" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="Name">Your Name:</label>
    <br />
    <input asp-for="Name" />
    <br />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Email">Email:</label>
    <br />
    <input type="email" asp-for="Email" />
    <br />
    <label asp-for="Subject">Subject:</label>
    <br />
    <input type="text" asp-for="Subject" />
    <br />
    <label asp-for="Message">Message:</label>
    <br />
    <textarea rows="4" asp-for="Message"></textarea>
    <br />
    <input id="send" type="submit" value="Send Message" />
</form>
<span>@ViewBag.SentMessage</span>
<button id="SendMessage">Натисни</button>

